<div id="thumbnail-container-{{@videoName}}" class="thumbnail-container">
</div>

<style>
  .thumbnail-container {
    width: 100%;
    aspect-ratio: 16 / 9;
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: white;
  }

</style>