<h1>{{remove-extension @model.video}}</h1>
<div id="video-container">
  <div id="video-player">
    <video id="video" muted>
      <source src="{{@model.url}}" type="video/mp4">
    </video>
  </div>
  <div class="controls">
    <ActionButton></ActionButton>
  </div>
</div>

<style>
  body {
    background-color: rgb(30, 31, 34);
  }
  h1 {
    max-height: 100vh;
    padding: 3px;
    background-color: #3977c3;
    text-align: center;
    color: white;
  }
  video {
    margin-top: -105px;
    width: 1080px;
    height: 1080px;
    max-height: 100vh;
    max-width: 100%;
    transform-origin: center center;
    transition: transform 0.3s ease;
  }
  .controls button {
    padding: 10px;
    font-size: 14px;
    cursor: pointer;
    background-color: #007ade;
    color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    align-content: center;
  }
  .controls button:hover {
    background-color: #2900ff;
    color: white;
  }
  .controls button:active {
    background-color: green;
  }
  #video-container {
    background-color: rgb(30, 31, 34);
    display: block;
  }
  #video-player {
    position: relative;
    width: 100%;
    max-width: 100%;
    height: auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>
